@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(236, 236, 236) 100%);
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
  -moz-appearance: textfield;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
